asgiref==3.8.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
certifi==2024.8.30
crispy-bootstrap5==2024.10
Django==4.2.16
django-bootstrap-v5==1.0.11
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
jplephem==2.22
numpy==1.24.4
pillow==10.4.0
psycopg2-binary==2.9.10
sgp4==2.23
skyfield==1.49
soupsieve==2.6
sqlparse==0.5.1
typing-extensions==4.12.2
