{% extends "base.html" %}

{% block content %}
<div class="container text-center">
    <h1>Удаление передатчика {{ transmitter.description }}</h1>
</div>
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 text-center">
        <form action=""
            method="post">
            {% csrf_token %}
            <button type="submit"
                class="btn btn-danger">Подтвердить удаление</button>
            <a href="{% url 'transmitter_view' pk=transmitter.id %}"
                class="btn btn-primary">Вернуться обратно к передатчику</a>
        </form>
    </div>
    <div class="col-sm-3">
    </div>
</div>
{% endblock %}
