{% extends "base.html" %}

{% block content %}

<head>
    <title>Список передатчиков</title>
</head>

<div class="container text-center">
    <h1>Список передатчиков</h1>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th score="col">ID</th>
                <th score="col">Описание передатчика</th>
                <th score="col">Имя спутника данного передатчика</th>
            </tr>
        </thead>
        <tbody>
            {% for transmitter in transmitters %}
            <tr>
                <th score="row"><a href="{% url 'transmitter_view' pk=transmitter.id %}">{{ transmitter.id }}</a></th>
                <td>{{ transmitter.description|default:'-' }}</td>
                <td><a href="{% url 'satellite_view' pk=transmitter.satellite.id %}">{{ transmitter.satellite.name}}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}
