{% extends "base.html" %}
{% block content %}

<head>
    <title>Главная страница</title>
</head>

<div class="container text-center">
    <p>Проект предназначен для хранения информации о спутниках и их передатчиках.</p>
    <ul class="list-unstyled">
        <li><a href="{% url 'satellite_list' %}">Список всех спутников</a></li>
        <li><a href="{% url 'transmitter_list' %}">Список всех передатчиков</a></li>
        <li><a href="{% url 'tle_list' %}">Список всех TLE</a></li>
    </ul>
</div>
{% endblock %}
