{% extends "base.html" %}

{% block content %}

<head>
    <title>Список спутников</title>
</head>

<div class="container text-center">
    <h1>Список спутников</h1>
</div>
{% if error %}
{% endif %}
<div class="container">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th score="col">ID</th>
                <th score="col">Идентификатор</th>
                <th score="col">Название</th>
                <th score="col">Количество передатчиков</th>
            </tr>
        </thead>
        <tbody>
            {% for satellite in satellites %}
            <tr>
                <th score="row"><a href="{% url 'satellite_view' pk=satellite.id %}">{{ satellite.id }}</a></th>
                <td>{{ satellite.identifier|default:'-' }}</td>
                <td>{{ satellite.name|default:'-' }}</td>
                <td>{{ satellite.transmitters.count|default:'-' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
